@def _width 300;
@def _height 350;

@def maxRows 6;

@def monthLabelFormat MMMM yyyy;
@def dateLabelFormat EEE, MMM d, yyyy;
@def timeLabelFormat literal("hh:mm:ss a");
@def weekDaysShortcut Su Mo Tu We Th Fr Sa;
@def monthShortcut Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec;

.main {
    display: flex;
    flex-direction: column;

    background: #607D8B;
    color: white;
    flex: 1 1 auto;
    width: _width;
    height: _height;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.subHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.monthLabel {

}

.upButton {
    transform: rotate(90deg);
}
.downButton {
    transform: rotate(-90deg);
}

.upButton, .downButton {
    background: none;
    color: white;
    border: none;
    font-size: 26px;
    cursor: pointer;
    outline:0;
}

.upButton::after, .downButton::after {
    content: "\276C";
}

.timeLabel {
    font-size: 40px;
}

.dateLabel {
    color: #00BCD4;
}

.daysPanel {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.daysPanel div {
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
}

.otherMonthDayLabel {
    opacity: 0.5;
}

.selected {
    background: #00BCD4;
}

.monthSelectPanel {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
}

.monthSelectPanel div {
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}