.group {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.group-header-label {
    width: 100%;
    background: #B0BEC5;
    padding: 15px;
    font-weight: bold;
    /*box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);*/

}
.group-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.group-panel > div {
    margin: 30px;
    display: flex;
    flex-grow: 0;
}