
.main {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}
.numbered {

}
.toc {
    display: flex;
    flex-direction: column;
    color: #546e7a;
    width: 200px;
    counter-reset: toc-headersnum;
}

.toc a {
    color: #546e7a;
    text-decoration: none;
    padding: 10px 2px;
    font-size: 15px;
    counter-increment: toc-headersnum;
}

.toc a:before {
    content: "-";
}
.numbered .toc a:before {
    content: counter(toc-headersnum) ".";
    padding-right: 10px;
}

.content {
    counter-reset: content-headersnum;
}


.tocContainer {
    border-right: 1px solid #cfd8dc;
    background: #eceff1;
    box-sizing: border-box;
    padding: 10px 10px;
}

.vertical > .content {
    grid-column: 1/5;
    grid-row: 2;
}

.vertical > .tocContainer {
    grid-column: 1/5;
    grid-row: 1;

}

.horizontal > .content {
    grid-column: 2/5;
    grid-row: 1;
}

.horizontal > .tocContainer {
    grid-column: 1;
    grid-row: 1;

}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.group-header-label {
    width: 100%;
    background: #B0BEC5;
    padding: 15px;
    font-weight: bold;

}

.content .group {
    counter-increment: content-headersnum;
}

.numbered  .content > .group >  .group-header-label:before {
    content: counter(content-headersnum) ".";
    padding-right: 10px;
}

.group-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.group-panel > div {
    margin: 30px;
    display: flex;
    flex-grow: 0;
}